body {
  background-color: whitesmoke;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.covid {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .covid {
    font-size: 25px;
  }
}
